---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404 Error - Page Not Found">
  <h1 class="text-2xl dark:text-white">404 - Page not found!</h1>
  <a
    href="/"
    class="inline-block mt-6 mb-4 bg-slate-700 text-white text-sm px-3 py-1.5 rounded-md transition hover:bg-slate-600 focus:outline-none"
  >
    Back to Home
  </a>
</MainLayout>
