---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <article class="prose dark:prose-invert prose-md max-w-none">
    <h2>About Me</h2>
    <img
      class="w-[200px] h-[200px] rounded-full"
      src="/bikash.jpeg"
      alt="Bikash"
    />
    <p class="pb text-justify">
      Hi, I'm Bikash Pokhrel, an engineering student studying Electronics,
      Communication, and Information Engineering at IOE, Pulchowk Campus. My
      field of interest includes programming, engineering, and MATHEMATICS. You
      can contact me at <span class="text-gray-500 font-mono font-semibold"
        >thebikashpokhrel@gmail.com</span
      >
    </p>

    <h2>About My Blog</h2>
    <p class="text-justify">
      In this blog, I share my thoughts and insights on a variety of topics of
      my interest. Here, you'll find random articles on programming,
      engineering, science, and a mix of other subjects. My aim is to create a
      space where I can document my learning journey and discuss innovative
      ideas on diverse topics.
    </p>
  </article>
</MainLayout>
